<div class="menu-div">
  <div class="menu-top" >
    <div class="search">
      <div class="search-content">
        <div class="menus">
          <div class="loc" style="display: flex; align-items: center;">
            <h4>Hello, <b>{{ userName }}</b></h4>
          </div>
          <div class="notif-bag">
            <div class="notif">
              <button (click)=" onNotif()"><img src="assets/notification.png" alt=""></button>
            </div>
            <div class="bag">
              <button (click)="onBag()"><img src="assets/bag.png" alt=""></button>
            </div>
          
          </div>
        </div>

        <div class="top-search">
          <div class="top-bar">
            <input
              type="text"
              placeholder="Search Hot Drinks, Cold Drinks, and Snacks"
              [(ngModel)]="searchQuery"
            />
            <button type="button" (click)="filterProducts()">SEARCH</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="categories">
    <div class="cats-div">
      <div class="cat" [ngClass]="{'active': activeCategory === 'Hot'}" (click)="filterByCategory('Hot')">
        <img src="assets/hot.png" alt="">
        <p>Hot Drinks</p>
      </div>
    </div>

    <div class="cats-div">
      <div class="cat" [ngClass]="{'active': activeCategory === 'Cold'}" (click)="filterByCategory('Cold')">
        <img src="assets/cold.png" alt="">
        <p>Cold Drinks</p>
      </div>
    </div>

    <div class="cats-div">
      <div class="cat" [ngClass]="{'active': activeCategory === 'Yogurt'}" (click)="filterByCategory('Yogurt')">
        <img src="assets/hot.png" alt="">
        <p>Yogurt</p>
      </div>
    </div>
  </div>

  <br />

  <div class="container my-4">
    <div class="row g-4">
      <div class="col-sm-6 col-md-4 col-lg-3 d-flex" *ngFor="let product of filteredProducts">
        <div class="card flex-fill" style="width: 100%;">
          <img [src]="product.image" class="card-img-top" alt="{{ product.description }}" />
          <div class="card-body">
            <h5 class="card-title">{{ product.description }}</h5>
            <p class="card-text">Price: ₱{{ product.price }}</p>
          </div>
          <div class="card-footer" style="text-align: right;">
            <button (click)="addToBag(product)" class="btn btn-primary" style="background-color: #FFC300; color: #1c1c1c; border-color: transparent;">
              <img src="assets/bag.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <!-- Sticky Bottom Div -->
  <div class="sticky-bottom">
    <div class="bottom">
      <div class="notif" style="display: flex; flex-direction: row; justify-content: space-between;">
        <button (click)="onMenu()"><img src="assets/home.png" alt=""></button>
        <button (click)="onOrders()"><img src="assets/orders.png" alt=""></button>
  
        <button (click)="onProfile()"><img src="assets/profile.png" alt=""></button>
  
      </div>
    </div>

    
  </div>
</div>
