.menu-top{
    background-color: #FFC300;
    display: flex;
    justify-content: center;
    
}
.menu-div{

    background-color: #f1f1f1;
}
.search{
    display: flex;
    justify-content: center;
    width: 700px;
    
}
/* *{
    border-style: solid;
} */

 .menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .notif-bag{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 50px;
 }
 .loc{
    display: flex;
    align-items: center;
    height: 50px;
 }
.top-search{
    width: 100%;
    margin-top: 8px;
}
.top-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
.top-bar input{
    width: 100%;
}
.search-content{
    width: 100%;
    padding: 12px 10px;
}
.top-bar input{
    height: 36px;
    border-radius: 12px 0px 0px 12px;
    border-width: 0.1px;
    border-color: #b0b0b0;
    border-style: solid;
    padding-left: 8px;
}

.top-bar button{
    height: 36px;
    border-radius: 0px 12px 12px 0px;
    border-width: 0.1px;
    border-color: #b0b0b0;
    border-style: solid;
    background-color: #ffffff;
    padding: 0px 4px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
}
#cart{
    background-color: #FFC300;
}

.categories{
    display: flex;
    justify-content: space-evenly;
}
.cats-div{
   
    border-radius: 12px;
        
    display: grid;
    justify-content: center;
}
.cat{
    border-style: solid;
    border-width: 1px;
    border-color: #b0b0b0;
    text-align: center;
    border-radius: 12px;
   
}
.cat img{
    width: 70%;
}
.menus * button{
    background-color: transparent;
    border-color: transparent;
}
  
/* Sticky Bottom Div Styles */
.sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFC300;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for better visibility */
  }
  
  .sticky-bottom button {
    background-color: transparent;
    color: #1c1c1c;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sticky-bottom button img {
    margin-right: 8px;
  }
  
  .sticky-bottom button:hover {
    opacity: 0.8;
  }
  .notif{
    width: 90%;
  }
  .bottom{
    display: flex;
    justify-content: center;
  }
  
